body{
    height: auto;
    width: auto;
    background-color: #ccc8c8;
    }

#encabezado{
    display: inline-block;
    display: flex;
    background-attachment: fixed;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.4) , rgba(255,255,255,.4)), url(../img/frontal.jpg);
    background-size: cover;
    border-radius: 20px;
   }

.imagen{
    display: flex;
    justify-content: start;
    opacity: 1;
    }

.caratula{
    width: 200px;
    height: 200px;
    -webkit-transform: scaleX(-1);
    border-radius: 50%;
    border: 2px solid#9da6a3;
   }

.nombrePrincipal{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin: auto;
    padding: 0 100px;
    content: normal;
    }


.nombrePrincipal h1{
    padding: 20px 10px;
    margin: 0;
    color: #e9ebf0;
    text-transform: uppercase;
}

.nombrePrincipal p{
    margin: 0;
    padding: 10px 20px 30px 35px;
    color: #e9ebf0;
    text-transform: uppercase;
}

.selector{
    border-radius: 20px;
    background-color: rgba(188, 117, 191,.4);
    text-align: center;
}
    
.selector>h2{
    font-size: xx-large;
  }

 .tituloContacto{
    font-size: xx-large;
    margin: 20px 20px 0;
}
.contacto{
    padding: 0 22px;
    margin: 10px 0;
}
.contacto>li{
    font-size: larger;
    margin: 0 20px 10px;
    text-align: start;
    
}
.contacto>li>a{
    text-decoration: none;
}
.tituloObjetivo{
    font-size: xx-large;
    margin: 20px 20px 0;
}
.objetivo{
    padding: 0 22px;
    margin: 10px 0;
}
.objetivo>li{
    font-size: larger;
    margin: 0 20px 10px;
    text-align: start;
}

.tituloEducacion{
    font-size: xx-large;
    margin: 20px 20px 0;
}

.educacion{
    padding: 0 22px;
    margin: 10px 0;
}
.educacion>li{
    font-size: larger;
    margin: 0 20px 10px;
    text-align: start;
    
}

.tituloLaboral{
    font-size: xx-large;
    margin: 20px 20px 0;
}

.laboral{
    padding: 0 22px;
    margin: 10px 0;
}
.laboral>li{
    font-size: larger;
    margin: 0 20px 10px;
    text-align: start;
    
}

.tituloTecnologias{
    font-size: xx-large;
    margin: 20px 20px 0;
}

.tecnologias{
    padding: 0 22px;
    margin: 10px 0;
    /*tab-size: 20;*/
}
.tecnologias>li{
    font-size: larger;
    margin: 0 20px 10px;
    text-align: start;
   
    
}
footer{
    display: flex;
    height: 40px;
    background: rgba(97, 104, 184,.3);
    color: #252529;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    }

footer a:hover{
    background-color: #252529;
    padding: 10px 20px;
    color: #dcdce8;
    border-radius: 20px;
    border: 2px solid #fff;
    }
    
    
.enlace{
    color: #252529;
    display: flex;
    text-decoration: none;
    margin: 10px 20px;
    }
    
    





    
    
    
    
   

    
    
   
